<h1>All users</h1>
<button (click)='showForm()' class="btn btn-info mb-3">{{btnName}}</button>
<table *ngFor="let user of users" class="table">
  <tr>
    <td width="50px">
      {{user.id}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td width="100px">
      <button type="button" (click)="deleteUser(user)" class="btn btn-large btn-block btn-danger">Delete</button>
    </td>
  </tr>
</table>

<form *ngIf="isShow" class="mt-5" (submit)="addNewUser()">
  <div class="form-group">
    <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Enter user name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>